save=true
# 安装包时是否自动保存到package.json的dependencies中

save-dev=true
# 安装包时是否自动保存到package.json的devDependencies中

save-exact=true
# 安装包时是否精确保存版本号


engine-strict=true
# 是否在安装时检查依赖的node和npm版本是否符合要求

registry = https://registry.npmmirror.com

@hc:registry=http://10.10.1.117:8081/repository/npm-package/